:root {
  --branding-color: #043692;
  --font-color: white;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

html,
body {
  color: var(--font-color);
  height: 100%;
  margin: 0px;
  overscroll-behavior: none;
  overflow-x: hidden;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.navbar {
  background-color: white;
  font-family: var(--default-font-family);
  opacity: 0.6;
}

.nav-link {
  color: var(--branding-color);
  padding-right: 10px;
  text-align: right;
}
.navbar-toggler {
  border: none;
  color: transparent;
}

.tree-icon {
  color: var(--branding-color);
  font-size: 30px;
  padding-left: 15px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 65px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/media/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 75px;
  margin: 0 auto;
  padding: 80px 20px 20px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  margin: 0 auto;
  padding: 20px;
}

.hero svg {
  margin-bottom: -1px;
}

.curvedpage1 {
  background: #7794d4;
}

.curvedpage1 svg {
  margin-bottom: -1px;
  margin-top: -1px;
}

.curvedpage1 h2 {
  margin: 0;
  padding-bottom: 50px;
}

.skills {
  background: var(--branding-color);
  padding: 20px;
}

.skills h2 {
  padding-bottom: 30px;
}

.skills-list {
  font-family: var(--default-font-family);
  font-size: 18px;
  margin-top: 20px;
  padding: 15px;
}

.skills-icon {
  font-size: 40px;
  padding: 10px;
}

.skills-img {
  padding: 10px;
}

.project-img {
  border-radius: 60px;
  display: block;
  text-align: center;
}

.project-description {
  background: #7794d4;
  color: var(--font-color);
  padding: 80px 0px;
  margin: 24px;
}

.project-description h3 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  padding-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.container-projects {
  background: #7794d4;
  margin: 20px;
}

.btn-project {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  color: var(--font-color);
  font-family: var(--default-font-family);
  padding: 15px 30px 15px 30px;
  margin-top: 30px;
}

.contact {
  background: #4b6eb9;
}

.contact p {
  font-family: var(--default-font-family);
  padding: 20px;
}

.portrait-img {
  width: 250px;
  border-radius: 100%;
  padding: 30px;
}

.resume-btn {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  color: var(--font-color);
  font-family: var(--default-font-family);
  padding: 15px 30px 15px 30px;
}

.resume-btn:hover {
  background: #7794d4;
  border: none;
  color: var(--branding-color);
}

.curved-footer svg {
  margin-bottom: -1px;
}

footer {
  background-color: var(--branding-color);
  font-size: 30px;
}

footer a {
  padding: 15px 15px 0px 15px;
  color: var(--font-color);
}

.signature {
  font-family: var(--heading-font-family);
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 15px;
}
@media (max-width: 960px) {
  .hero h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0px 20px 0px 20px;
    margin: 0;
    text-align: center;
  }
  h2 {
    font-size: 50px;
  }
}
